.header {
  display: flex;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: rgba(1, 24, 50, 0.3);
  backdrop-filter: blur(7.5px);
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  background: no-repeat url("../../assets/img/logoLogo.svg");
  height: 50px;
  width: 250px;
}

.header_navigation {
  display: flex;
}

.toggle_input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.toggle_button {
  white-space: nowrap;
  position: relative;
  margin: auto;
  padding: 6px 17px;
  text-align: center;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: none;
}

.toggle_input:checked + .toggle_button {
  border-radius: 29px;
  background-color: #ffffff;
  color: #011832;
}

.header_social {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
}

.social_link:not(:last-child) {
  margin-right: 1.7rem;
}

.header_tools {
  display: flex;
  margin-left: 42px;
}

.glass {
  margin-right: 45px;
}

.header_basket {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.basket_items {
  margin-left: 10px;
  color: #ffffff;
  line-height: 20px;
}

.basket_title {
  margin: 0;
  padding: 0;
}

.basket_count {
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  .header_social {
    margin-left: auto;
  }
}

@media (max-width: 995px) {
  .header_social {
    display: none;
  }
  .header_navigation {
    display: none;
  }
}

@media (max-width: 768px) {
  .glass {
    margin-right: 30px;
  }
  .header_tools {
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .header_basket {
    display: none;
  }
}