.toggle_input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.toggle_button {
  white-space: nowrap;
  position: relative;
  margin: auto;
  padding: 6px 17px;
  text-align: center;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: none;
}

.toggle_input:checked + .toggle_button {
  border-radius: 29px;
  background-color: #ffffff;
  color: #011832;
}
