.number_item {
  display: flex;
  flex-direction: column;
  margin-right: 55px;
}

.number_item:last-child {
  margin-right: 0;
}

.number {
  font-weight: 700;
  font-size: 3.1rem;
  opacity: 0.5;
}

@media (max-width: 785px) {
  .number {
    font-size: 2.5rem;
  }

  .number_subtitle {
    font-size: 0.75rem;
  }
}