.header {
  display: flex;
}

.main_head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 100vh;
}

.main_logo {
  margin: auto;
  width: 100%;
  height: 100%;
}

.main_card {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}