.subhead_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 120px;
}

.ship {
  /* width: 100%;
  height: 100%; */
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.ifo_block {
  display: flex;
  z-index: 2;
  margin-top: 60px;
  color: #ffffff;
  width: 650px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.block_title {
  margin-bottom: 20px;
  font-size: 2.9rem;
  font-weight: 800;
  line-height: 56px;
  text-transform: uppercase;
}

.info_text {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px;
}

.span {
  font-weight: 700;
}

.numbers_block {
  margin-top: 30px;
  display: flex;
}

.bottom_logo {
  border-radius: 50%;
}

@media (max-width: 785px) {
  .bottom_logo {
    display: none;
  }

  .ship {
    width: 650px;
  }

  .numbers_block {
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
  }
  .block_title {
    font-size: 1.5rem;
  }

  .info_text {
    font-size: 0.87rem;
  }
}

@media(max-width: 670px) {
  .ship {
    width: 500px;
  }

  .subhead_wrapper {
    padding-bottom: 80px;
  }
}

@media(max-width: 520px) {
  .subhead_wrapper {
    padding-bottom: 62px;
  }

  .ship {
    width: 320px;
  }
}